In [1]:
import pandas as pd
import numpy as np

# Load Data
userHeader = ['user_id', 'gender', 'age', 'ocupation', 'zip']
users = pd.read_csv('~/Documents/Git/Example_Pandas/dataSet/users.txt', engine='python',
                    sep='::', header=None, names=userHeader)

movieHeader = ['movie_id', 'title', 'genders']
movies = pd.read_csv('~/Documents/Git/Example_Pandas/dataSet/movies.txt', engine='python',
                     sep='::', header=None, names=movieHeader)

ratingHeader = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv('~/Documents/Git/Example_Pandas/dataSet/ratings.txt', engine='python',
                      sep='::', header=None, names=ratingHeader)

In [2]:
# Merge data
mergeRatings = pd.merge(pd.merge(users, ratings), movies)

In [3]:
# Clone DataFrame


#modif pour faire des conflits

#modif pour faire un conflit si tuveux vraimen!

def cloneDF(df):
    return pd.DataFrame(df.values.copy(), df.index.copy(), df.columns.copy()).apply(pd.to_numeric, errors='ignore')

In [4]:
# Simple pivot (Groupby + avg)
df_1 = cloneDF(mergeRatings)
df_1 = df_1.pivot_table(index=['movie_id', 'title'])
print('Columns(movie_id + title) to Index: \n%s' % df_1[:5])
print('\n==================================================================\n')

Columns(movie_id + title) to Index:
                                                   age  ocupation    rating  \
movie_id title
1        Toy Story (1995)                    27.700530   8.067886  4.146846
2        Jumanji (1995)                      27.800285   7.680456  3.201141
3        Grumpier Old Men (1995)             29.276151   7.826360  3.016736
4        Waiting to Exhale (1995)            27.788235   6.752941  2.729412
5        Father of the Bride Part II (1995)  27.425676   7.506757  3.006757

                                                timestamp      user_id
movie_id title
1        Toy Story (1995)                    9.705586e+08  3053.819933
2        Jumanji (1995)                      9.717322e+08  3027.977175
3        Grumpier Old Men (1995)             9.734544e+08  2632.156904
4        Waiting to Exhale (1995)            9.716206e+08  3268.841176
5        Father of the Bride Part II (1995)  9.718301e+08  3143.152027

==================================================================

In [5]:
# Pivot by specific columns (Groupby + avg by rating and age)
df_2 = cloneDF(mergeRatings)
df_2 = df_2.pivot_table(index=['movie_id', 'title'], values=['rating', 'age'])
print('Columns(movie_id + title) to Index and avg by values \n%s' % df_2[:5])
print('\n==================================================================\n')

Columns(movie_id + title) to Index and avg by values
                                                   age    rating
movie_id title
1        Toy Story (1995)                    27.700530  4.146846
2        Jumanji (1995)                      27.800285  3.201141
3        Grumpier Old Men (1995)             29.276151  3.016736
4        Waiting to Exhale (1995)            27.788235  2.729412
5        Father of the Bride Part II (1995)  27.425676  3.006757

==================================================================

In [6]:
# Pivot by specific columns, applying a functions
df_3 = cloneDF(mergeRatings)
df_3 = df_3.pivot_table(index=['movie_id', 'title'], values=[
                        'rating'], aggfunc=[np.sum, np.size, np.mean])
print('Columns(movie_id + title) to Index and specific functions by values \n%s' %
      df_3[:5])
print('\n==================================================================\n')

Columns(movie_id + title) to Index and specific functions by values
                                               sum   size      mean
                                            rating rating    rating
movie_id title
1        Toy Story (1995)                     8613   2077  4.146846
2        Jumanji (1995)                       2244    701  3.201141
3        Grumpier Old Men (1995)              1442    478  3.016736
4        Waiting to Exhale (1995)              464    170  2.729412
5        Father of the Bride Part II (1995)    890    296  3.006757

==================================================================

In [7]:
# Pivot by specific index, specific values and specific columns, applying a functions
df_4 = cloneDF(mergeRatings)
df_4 = df_4.pivot_table(index=['movie_id', 'title'], values=['rating'], columns=['gender'], aggfunc=[np.mean],
                        fill_value=-1, margins=True)
print('Columns(movie_id + title) to Index and avg rating applied by gender \n%s' %
      df_4[:5])

Columns(movie_id + title) to Index and avg rating applied by gender
                                                 mean
                                               rating
gender                                              F         M       All
movie_id title
1        Toy Story (1995)                    4.187817  4.130552  4.146846
2        Jumanji (1995)                      3.278409  3.175238  3.201141
3        Grumpier Old Men (1995)             3.073529  2.994152  3.016736
4        Waiting to Exhale (1995)            2.976471  2.482353  2.729412
5        Father of the Bride Part II (1995)  3.212963  2.888298  3.006757